{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "never"
      }
    },
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    }
  ]
}
